* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'sans-serif';
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

#navbar {
  padding: 20px 20px;
  box-shadow: 0px 5px 5px #ddd;
  margin-bottom: 30px;
}

#navbar a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}

#quote-text {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

#quote {
  padding-bottom: 30px;
}

#author {
  padding-bottom: 30px;
  color: #555;
  font-size: 18px;
  font-style: italic;
}

#btn {
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  outline: 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

h1 {
  padding-bottom: 20px;
}

p {
  color: #444;
}

